@model IFeatureManager
@{
    ViewBag.Title = "Appconfi";
    var isEnabled = ViewBag.FeatureEnable;
}

<h2>Hello Appconfi</h2>


@if (isEnabled)
{
    <p>My my_awesome_feature <strong>is enabled</strong></p>
}
else
{
    <p>My my_awesome_feature <strong>is disabled</strong></p>
}





